<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:permission="android.permission.INTERNET"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apprestauranteeee"
        tools:targetApi="31">
        <activity
            android:name=".RegistrarDatosGoogle"
            android:exported="false" />
        <activity
            android:name=".DetallePedidoActivity"
            android:exported="false" />
        <activity
            android:name=".VerPedidosActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarPedido"
            android:exported="false" />
        <activity
            android:name=".RegistrarProducto"
            android:exported="false" />
        <activity
            android:name=".ProductoDetalle"
            android:exported="false" />
        <activity
            android:name=".DetalleProducto"
            android:exported="false" />
        <activity
            android:name=".ListarProducto"
            android:exported="false" />
        <activity
            android:name=".DetalleUsuario"
            android:exported="false" />
        <activity
            android:name=".MostrarUsuarios"
            android:exported="false" />
        <activity
            android:name=".activity_registrar_producto"
            android:exported="false" />
        <activity
            android:name=".menu_cocinero"
            android:exported="false" />
        <activity
            android:name=".menu_mesero"
            android:exported="false" />
        <activity
            android:name=".RegistrarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".comida"
            android:exported="false" />
        <activity
            android:name=".ClienteDetalle"
            android:exported="false" />
        <activity
            android:name=".ListarCliente"
            android:exported="false" />
        <activity
            android:name=".Registrodecliente"
            android:exported="false" />
        <activity
            android:name=".MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".RegistrarUsuario"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>